<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
<!---
  <title> {% if page.title %} {{ page.title }} | {% endif %} Christopher Stieha </title>
  <link rel="stylesheet" href="/css/styles.css" />
--->
</head>
<body>

{% include google_analytics.html %}

  <div id="main">
 
    <header>
      <h1> Christopher Stieha </h1>
    <header>
 
    <nav role="navigation">
		<table>
			<tr>
				<td><a href="/">Home</a></td>
				<td><a href="/research">Research</a></td>
				<td><a href="/publications">Publications</a></td>
				<td><a href="/assets/stiehaCV.pdf">CV</a></td>
<!---				<td><a href="/about">About</a></td>  			--->
				<td><a href="/contact">Contact</a></td>
			</tr>
		</table>
    </nav>
    
    <br>
 
    {{ content }}
 
    <footer>
      <p>Christopher Stieha | All Rights Reserved. </p>
    </footer>
 
  </div>
</body>
</html>
