<!--- <!DOCTYPE html> --->
<!---<html>--->
<head>
  <meta charset=utf-8 />
<!---
  <title> {% if page.title %} {{ page.title }} | {% endif %} Christopher Stieha </title>
  <link rel="stylesheet" href="/css/styles.css" />

<meta name="google-site-verification" content="3AmNJc_-F22LAlSV420AMgvlUGyrI3J91MUfiT27No0" />
--->

</head>
<body>

{% include google_analytics.html %}

<!---  <div id="main"> --->
 
    <header>
      <h1> Christopher Stieha </h1>
    <header>
 <br>
		<table>
			<tr>
				<td><a href="/">Home</a></td>
				<td><a href="/news">News</a></td>
				<td><a href="/research">Research</a></td>
				<td><a href="/publications">Publications</a></td>
				<td><a href="/assets/stiehaCV.pdf">CV</a></td>
<!---				<td><a href="/about">About</a></td>  			--->
				<td><a href="/contact">Contact</a></td>
			</tr>
		</table>

    
    <br>
<!---</html> --->
 
    {{ content }}

<!---<html> --->
    <footer>
      <p>Christopher Stieha | All Rights Reserved. </p>
    </footer>
 
<!---  </div> --->
</body>
<!---</html> --->
